<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

</head>
<body>
<!-----------------弹出框----------------------------->
<div id="spu_dlg" class="easyui-dialog" title="编辑spu" style="width:700px;height:520px;"
   closed="true" data-options="iconCls:'icon-save',resizable:true,modal:false" buttons="#spuBtns">
  <form id="spuForm">
            <br/>
            <label>spu名称:</label>
            <input id="spuName" name="spuName" class="easyui-textbox" data-options="" style="width:300px;"/>
            <br/><br/>
            <label>spu描述:</label>
            <input id="description" name="description" class="easyui-textbox" data-options="multiline:true"
            style="width:500px;height:100px"/>     
    <input id="spuId" name="spuId" type="hidden"/>
            <br/><br/>
      <!----------------商品图片列表 ----------------------->     
    <table id="spuImgDg" class="easyui-datagrid" title="商品图片列表"
                      data-options="singleSelect:true,method:'get',toolbar:'#spuImgTootbar'"></table>
            <!----------------图片列表工具栏----------------------->        
    <div id="spuImgTootbar" style="padding:5px;height:auto" >            
      <div style="margin-bottom:5px">
                 <a href="#" id="spuImgAdd" class="easyui-linkbutton" iconCls="icon-add" plain="true">添加图片</a>
                 <a href="#" id="spuImgUploadBtn" class="easyui-linkbutton" iconCls="icon-save"
              plain="true">图片上传</a>
                 <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>          
      </div>
        
    </div>
       <br/><br/>
     <!----------------销售属性列表---------------------------->
            
    <table id="spuSaleAttrDg" class="easyui-datagrid" title="销售属性列表"
        data-options="singleSelect:true,method:'get',toolbar:'#spuSaleAttrTootbar'"></table>
       <!----------------销售属性列表工具栏----------------------->
            
    <div id="spuSaleAttrTootbar" style="padding:5px;height:auto" >            
      <div style="margin-bottom:5px">
        <a href="#" id="spuSaleAttrAddBtn" class="easyui-linkbutton" iconCls="icon-add"
          onclick="addSpuSaleAttr()" plain="true">添加销售属性</a>
        <a href="#" id="spuSaleAttrEditBtn" class="easyui-linkbutton" iconCls="icon-edit" plain="true"
          onclick="editSpuSaleAttr()">编辑销售属性</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>           
      </div>       
    </div>        
    <div th:include="spuSaleAttrPage"></div>    
  </form>
</div>
<!----------------弹出框的按钮组----------------------->
<div id="spuBtns">
      <a href="#" class="easyui-linkbutton" onclick="saveSpu()">保 存</a>
      <a href="#" class="easyui-linkbutton" onclick="closeSpu()">关 闭</a>
</div>
<script language="JavaScript">
  function saveSpu() {
    //获取spu的json格式的js数据对象
    var spuInfo = {};
    // spuInfo["description"] =$("#description").val('getValue');
    // spuInfo["spuName"] = $("#spuName").val();
    spuInfo["spuName"] = $("input[name=spuName]").parent().prev().textbox('getValue');
    spuInfo["description"] = $("input[name=description]").parent().prev().textbox('getValue');
    spuInfo["catalog3Id"] = $("#ctg3ForSpuList").combobox("getValue");
    var attrRows = $("#spuSaleAttrDg").datagrid("getRows");
    $(attrRows).each(function (i, attr) {
      //封装销售属性
      spuInfo["spuSaleAttrList[" + i + "].saleAttrId"] = attr.saleAttrId;
      spuInfo["spuSaleAttrList[" + i + "].saleAttrName"] = attr.saleAttrName;
      //封装销售属性值
      var attrValueRows = attr.spuSaleAttrValueJson.rows;
      $(attrValueRows).each(function (j, attrValue) {
        spuInfo["spuSaleAttrList[" + i + "].spuSaleAttrValueList[" + j + "].saleAttrId"] = attr.saleAttrId;
        spuInfo["spuSaleAttrList[" + i + "].spuSaleAttrValueList[" + j + "].saleAttrValueName"] = attrValue.saleAttrValueName;
      })
    });
    // console.log(JSON.stringify(spuInfo));
    //异步保存
    $.get("saveSpu", spuInfo, function (data) {
      alert(data);
      //关闭对话框
      $("#spu_dlg").dialog("close");
      //刷新spu列表
    })
  }

  function initSpuInfoDlg() {
    //初始化上传控件插件（webuploader）
    /*
    initUploader();
     */
    //初始化图片列表
    initSpuImgListDatagrid();
    //初始化销售列表
    initSpuAttrListDatagrid();

  }

  //初始化上传控件插件（webuploader）
  /*function initUploader(){
    var spuImgDg= $("#spuImgDg");//图片列表
    //初始化上传控件
    var spuImgUploader = WebUploader.create({
      //是否自动上传
      auto:false,
      // swf文件路径
      swf: '/webuploader/Uploader.swf',
      // 文件接收路径，通俗讲就是controller里面上传方法的方法名requestMapping里面的
      server: '/fileUpload',
      // 选择文件的按钮。
      pick: '#spuImgAdd',
      // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
      resize: false,
      //设定文件大小上限 2M
      fileSingleSizeLimit:2*1024*1024,
      //可接受的文件类型
      accept: {
        title: 'Images',
        extensions: 'gif,jpg,jpeg,bmp,png',
        mimeTypes: 'image/!*'
      }
    });
    console.log("初始化文件上传控件的响应--fileQueued");

    //当用户选择了文件以后，表格要进行增行
    spuImgUploader.on('fileQueued',function (file) {
      console.log("用户增加文件:"+file.id+'||'+file.name);
      var row={
        fileId:file.id,
        imgName:file.name
      }
      spuImgDg.datagrid('appendRow',row);
    });

    //上传过程中，该进度会反复触发
    spuImgUploader.on( 'uploadProgress', function( file, percentage ) {
      var rowIndex=spuImgDg.datagrid('getRowIndex',file.id);
      var progessRow={progress:(percentage*100).toFixed(2)};
      spuImgDg.datagrid('updateRow', {index:rowIndex,row:progessRow});
    });

    // 上传成功时，要把生成的图片路径返回给表格的行中的url
    console.log("初始化文件上传控件的响应--uploadSuccess");
    spuImgUploader.on( 'uploadSuccess', function( file ,response) {
      console.log("上传完成："+file.id+"||"+response._raw);
      var fileId=file.id;
      var rowIndex = spuImgDg.datagrid('getRowIndex',file.id);//通过file.id查询到行号
      spuImgDg.datagrid('updateRow',
        {  index:rowIndex,
          row:{imgUrl:response._raw}
        });
    });

    $('#spuImgUploadBtn').click(function(){
      if(spuImgUploader.getFiles().length<=0){
        alert("没有文件上传");
        return;
      }
      spuImgUploader.upload();
    });
  }*/

  //初始化图片表格和datagrid整合
  function initSpuImgListDatagrid(spuInfo) {
    /*
    $('#spuImgDg').datagrid('loadData', {total: 0, rows: []});

    spuImgDg = $("#spuImgDg").datagrid({
      idField: 'fileId',  //标识行的主键 可以利用getRowIndex进行查询
      columns: [[
        {field: 'fileId', title: '文件编号', width: '15%'},//隐藏文件页面内部编号
        {
          field: 'imgName', title: '图片简称', width: '20%'
        },
        {field: 'imgUrl', title: '图片路径', hidden: true}, //隐藏真实路径
        {
          field: 'progress', title: '上传进度', width: '20%',
          formatter: function (value, row, index) {
            console.log("更新进度条！！" + value);
            if (!value) {
              value = 0;
            }
            var htmlstr =
              "<div class='easyui-progressbar progressbar' style='width:100px;height:20px;' value='" + value + "' text='" + value + "'%>" +
              "<div class='progressbar-text' style='width: 100px; height: 20px; line-height: 20px;'>" + value + "%</div>" +
              "<div class='progressbar-value' style='width:" + value + "%; height: 20px; line-height: 20px;'>" +
              "<div class='progressbar-text' style='width: 100px; height: 20px; line-height: 20px;'>" + value + "%</div>" +
              "</div>" +
              "</div>";
            return htmlstr;
          }
        },
        {
          field: 'imgState', title: '上传状态', width: '20%',      //如果存在路径表示上传成功
          formatter: function (value, row, index) {
            console.log('row.imgUrl:' + row.imgUrl);
            if (row.imgUrl != undefined && row.imgUrl != '') {
              return '已上传';
            } else {
              return '等待上传';
            }
          }
        }
      ]],
      view: detailview,
      detailFormatter: function (rowIndex, rowData) {
        return "<img src=" + rowData.imgUrl + " style='width:100px;height:100px;'>";
      }
    });*/
  }

  //初始化spu属性列表
  function initSpuAttrListDatagrid() {
    $("#spuSaleAttrDg").datagrid({
      columns: [[
        {field: 'id', title: 'id', hidden: true},
        {field: 'saleAttrId', title: '销售属性id', width: 100},
        {field: 'saleAttrName', title: '销售属性简称', width: 100},
        {field: 'spuSaleAttrValueJson', title: '页面暂存', width: 200, align: 'right'}
      ]]
    })

  }
  //添加spu销售属性
  function addSpuSaleAttr() {
    //初始化数据
    $("#spuSaleAttrValueDg").datagrid({url: ""});
    $("#spuSaleAttrValueDg").datagrid('loadData', {total: 0, rows: []});//行号初始化
    //打开spu销售属性的对话框
    $("#spuSaleAttr_dlg").dialog("open");
    //初始化spu销售属性对话框
    initSpuSaleAttrDlg();

  }


</script>

</body>
</html>